S3_ENDPOINT_URL=
S3_REGION=us-east-1
S3_BUCKET=tts-audio
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_AUDIO_KEY_PREFIX=
S3_PUBLIC_URL_BASE=

#Kafka topics

# KAFKA_BOOTSTRAP_SERVERS=kafka:9092
# KAFKA_TOPIC_START=tts.start
# KAFKA_TOPIC_MEDIA_UPLOADED=media.uploaded
# KAFKA_TOPIC_FAILED=tts.failed

CELERY_WORKER_PREFETCH_MULTIPLIER=1
CELERY_WORKER_MAX_TASKS_PER_CHILD=200
CELERY_WORKER_MAX_MEMORY_PER_CHILD=900000
CELERY_RESULT_EXPIRES_SECONDS=3600
